
.input {

    @include frs();
    margin: 1rem 0;
    &__field {
        height: 3.1rem;
        padding-left: 1.5rem;
        
        
    }

    & input {
      margin: .5rem 3rem;
      width: 30rem;

    }

    
}



@media print {

    
    .input {
      display: none;
    }
  }