.item {
    @include frs();
    border: 1px grey solid;
    // border-bottom: none;
    // border-radius: 3px;
    // margin: .2rem 0;
    // display: inline;
    font-weight: 600;
    color: #333;
    padding: 0 .5rem;
    margin-bottom: -1px;
    // width: 800px;

    & p {
        margin: .5rem 0;
    }

    &:first-child {
        background-color: rgb(231, 231, 231);
    }

    &__active {
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        animation: goGreen 1s 1;
    }

    @keyframes goGreen
    {
        0%     {background:greenyellow;}
        100%    {background:none;}
    }

    &__modifiers {
        @include frs(center, nowrap);
        & p, svg {
            margin: 0 .5rem;
            &:hover {
                cursor: pointer;
                background: #eee;
                
            }
        }

        // flex-basis: 100px;
        // flex-grow: 0;
        flex: 0 0 60px;

        
    }

    &__cat {
        // flex-basis: 40px;
        // flex-grow: 1;
        flex: 0 0 70px;

    }

    &__name {
        // flex-basis: 300px;
        // flex-grow: 0;
        flex: 0 0 300px;

        padding-left: 1rem;
    }

    &__alias {
        // flex-basis: 100px;
        // flex-grow: 1;
        flex: 0 0 150px;

        padding-left: 1rem;
    }

    &__type {
        // flex-basis: 100px;
        // flex-grow: .5;
        flex: 0 0 60px;

        padding-left: 1rem;
    }

    &__amount {
        // flex-basis: 30px;
        // flex-grow: .5;
        flex: 0 0 50px;
        padding-left: 1rem;
    }
}

@media print {

    .item p{
        margin-top: 0;
        margin-bottom: 0;
    }
   
  .item__modifiers {
    display: none;
  }
}




