.item {
    @include frs();
    border: 1px grey solid;
    border-bottom: none;
    border-radius: 3px;
    // margin: .2rem 0;
    font-weight: 600;
    color: #333;
    padding: 0 .5rem;

    & p {
        margin: .5rem 0;
    }

    &__active {
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        animation: goGreen 1s 1;
    }

    @keyframes goGreen
    {
        0%     {background:greenyellow;}
        100%    {background:none;}
    }

    &__modifiers {
        @include frs(center, nowrap);
        & p, svg {
            margin: 0 .5rem;
            &:hover {
                cursor: pointer;
                background: #eee;
                
            }
        }

        // flex-basis: 100px;
        // flex-grow: 0;


        
    }

    &__cat {
        flex-basis: 40px;
        flex-grow: 1;
    }

    &__name {
        flex-basis: 300px;
        flex-grow: 3;
        padding-left: 1rem;
    }

    &__amount {
        flex-basis: 30px;
        flex-grow: .5;
        padding-left: 1rem;
    }
}

@media print {

   
  .item__modifiers {
    display: none;
  }
}




